<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:width="http://www.w3.org/1999/xhtml" xmlns:height="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.thymleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Point Of Sale System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Home</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customers}">Customer Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/items}">Item Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/order_list}">Order Management</a>
            </li>
        </ul>
    </div>
</nav>

<div class="p-3 mb-2 bg-success text-white" style="width: 100%; height: 513px;">
       <h1 align="center" style="margin-top:180px; font-size:70px; font-family: Times New Roman; ">Point Of Sale System</h1>
</div>
</body>
</html>